src/Makefile
src/*.so
src/*.dll
src/*.dylib
src/**/*_m.h
src/**/*_m.cc


/out

simulations/**/results
simulations/**/.tkenvrc
simulations/**/.qtenvrc
simulations/**/.cmdenv-log
simulations/**/valgrind.out
